@tailwind base;
@tailwind components;
@tailwind utilities;

/* colors 
pink
#B69DCC
#C57FDA

blue
#A0BEE5
#4BA1FE

rose
#E5A0B3
#F9748F

slogan
#909090

background
#141414
*/
.font-link {
font-family: 'Montserrat', sans-serif;
}

.home-page-img{
  width: 50vw;
}
.slogan {
  white-space: nowrap;
  display: flex;
  justify-content: center;
  width: 50vw;
}
.one-line {
  white-space: nowrap;
}

.partyCardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 6em;
}
.party-card {
  margin-top: 5em;
}
.card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.party-location {
  
}

.login-form, .signup-form, .home-page, .addclub-form, .addparty-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
body {
  margin: 0 auto;
  background-color: #ececec;
}

h1, h2 {
  font-family: 'Montserrat', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

a {
  text-decoration: none;
}

h1 {
  font-size: 20px;
  color: black;
}

h2 {
  font-size: 12px;
}

p {
  width: 150px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 12px;
  font-weight: 100;
}

button {
  width: 150px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(147 197 253);
  border-color: rgb(147 197 253);
  border-radius: 2px;
  margin-top: 12px;
}

button:hover {
  cursor: pointer;
}

button[type="submit"] {
  background-color: #bedee3;
}

input {
  margin-bottom: 12px;
  border-radius: 10px;
  border-color: none;
}

.homePageContainer, .signUpContainer, .loginContainer{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ovalBackground {
  width: 60vw;
  height: 50vh;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
}

.ovalBackground div {
  margin-left: 16px;
}

.signinContainer {
  display: flex;
  flex-direction: column;
}

.signUpForm, .loginForm {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.homeRightSection, .signUpRightSection, .loginRightSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 8px;
  margin-bottom: 20px;
}

.updateImageForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-left: 48px; */
}

.club-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.img-card {
  height: 150px;
}